.audio {
  border-top: 1px solid rgba($color: #fff, $alpha: 0.3);
}

.js--audio-wrap {
  margin-bottom: rem(22px);
  position: relative;
  margin-top: rem(2px);

  @include desktop {
    margin-bottom: rem(13px);
  }

  @include phones {
    margin-bottom: rem(15px);
  }
}

.js--audio-play {
  height: rem(36px);
  width: rem(36px);
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  transition: .3s;
  position: relative;

  &:hover {
    background: #f5f7fc;

    .glyphicon:before {
      border-top-color: #393c42;
    }
    .glyphicon-pause::before {
      color: #393c42;
    }
  }
}

.glyphicon-play {
  &::before {
    content: '';
    height: 0;
    width: 0;
    border: 5px solid transparent;
    border-top-color: #f5f7fc;
    border-bottom-width: 0; 
    position: absolute;
    left: 50%;
    top: 50%;
    transform: rotate(-90deg) translate(20%, -80%);
  }
}

.glyphicon-pause {
  position: relative;
  &::before {
    content: '| |';
    line-height: rem(36px);
    text-align: center;
    font-size: rem(13px);
    font-weight: 900;
    color: #f5f7fc;
  }
}

.js--timeline {
  width: calc(100% - 2.5rem);
  height: rem(4px);
  background: rgba($color: #fff, $alpha: 0.3);
  display: inline-block;
  vertical-align: middle;
  position: relative;
  cursor: pointer;
  overflow: hidden;
}

.js--timeline-control {
    height: rem(4px);
    width: rem(4px);
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    border-radius: 50%;

    &:before {
      content: '';
      position: absolute;
      height: 4px;
      width: 1170px;
      background: rgba($color: #fff, $alpha: 0.8);
      top: 50%;
      transform: translate(0, -50%);
      right: 0;
    }
}

.js--audio-mute {
  height: rem(36px);
  width: rem(36px);
  display: inline-block;
  background: #fff;
  vertical-align: middle;
  float: right;
  display: none;
}